body {
            background: darkslategrey;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: white;
        }

        hr {
            border: solid 1px white;
        }

        article ol  {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        article button {
            border: 2px solid white;
            color: white;
            background: transparent;
            padding: 0.5rem;
            cursor: pointer;
        }

        article button:hover {
            background: darkcyan;
        }