body {
  background: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: yellow;
  padding-bottom: 2rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

article {
  border: solid 1px yellow;
  padding: 1rem;
  width: 100%;
  max-width: 700px;
  margin: 0;
  border-radius: 0.5rem;
}

article ol {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button {
  border: 1px solid white;
  border-radius: 0.5rem;
  color: white;
  background: transparent;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: white;
  color: black;
}

input {
  border: 1px solid white;
  border-radius: 0.5rem;
  color: white;
  background: transparent;
  padding: 0.5rem 1rem;
}

article button {
  border: 1px solid yellow;
  border-radius: 0.5rem;
  font-weight: normal;
}

article button:hover {
  background: yellow;
  color: black;
}
